<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Delete row</h2>
      <form id="delete-section" method="post" action="/result/:id">
        <textarea
          name="adminDelete"
          placeholder="Index you want to delete"
        ></textarea>

        <div class="btn">
          <input type="submit" value="Delete" />
          <button>Cancel</button>
        </div>
      </form>
    </div>
  </body>
</html>
