<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Update table</h2>
      <form id="results-section" method="post" action="/result">
        <textarea name="adminUpdate1" placeholder="Add an ID"></textarea>
        <textarea name="adminUpdate2" placeholder="Add team 1 name"></textarea>
        <textarea name="adminUpdate3" placeholder="Add team 2 name"></textarea>
        <textarea name="adminUpdate4" placeholder="Add date of game"></textarea>
        <textarea name="adminUpdate5" placeholder="Add result"></textarea>
        <div class="btn">
          <input type="submit" value="Update" />
          <button>Cancel</button>
        </div>
      </form>
    </div>
  </body>
</html>
